body, html {
    height: 100%;
    margin: 0;
}

.bg-pattern {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form-control, .btn-primary {
    border-radius: 20px;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
}

.btn-primary:hover {
    background-color: #003d82;
}

textarea[readonly] {
    background-color: white;
    border: none;
    cursor: text;
    resize: none; /* Prevent resizing */
}